.banner {
  display: flex;
}

.nav-bar {
  flex: 1;
  display: flex;
  justify-content: space-between;
}

.nav-link {
  color: var(--primary);
  font-size: 2rem;
  font-weight: 600;
  font-variant-caps: all-petite-caps;
}
