.recipes {
  display: flex;
  flex-wrap: wrap;
}

.filter-menu {
  display: flex;
  flex-direction: column;
}

.filter-menu.sub-category {
  padding: 1rem 0;
}

.filter-menu.sub-category.course {
  flex-direction: row;
}
