* {
  margin: 0;
  padding: 0;
  text-decoration: none;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
}

ul,
li {
  list-style: none;
}

:root {
  --primary: #ffe860;
  --black: black;
  --white: white;
}
